.DailyForecast {
  width: 97%;
}
.DailyForecast .table-details {
  background: #f582a7;
  margin: 10px 0;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px #00000080;
  font-family: "Times New Roman", Times, serif;
}

.DailyForecast .day {
  font-size: 18px;
  padding: 7.5px;
}

.DailyForecast .main-daily-day {
  font-size: 20px;
  font-family: "Pacifico", cursive;
  padding: 10px;
  color: #711a75;
  text-shadow: 3px 3px 5px #00000080;
}
