.DailyForecast {
  width: 95%;
}
.DailyForecast .table-details {
  background: red;
  margin: 10px 0;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px #00000080;
  font-family: "Times New Roman", Times, serif;
}

.DailyForecast .day {
  font-size: 18px;
  padding: 7.5px;
}

.Table .main-daily-day {
  font-size: 24px;
  font-family: "Pacifico", cursive;
}
