.Table {
  line-height: 45px;
}

.Table .table-details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Table .today,
.main-day {
  background: rgb(239, 239, 106);
  padding: 8px;
  color: #711a75;
  font-weight: bold;
  box-shadow: 5px 5px 5px #00000080;
  font-size: 22px;
  font-family: "Pacifico", cursive;
}
.Table .main-day {
  font-size: 26px;
  text-shadow: 3px 3px 5px #00000080;
  line-height: 50px;
}

.Table .emoji-line {
  line-height: 100px;
}
