.Table {
  line-height: 45px;
}

.Table .table-details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Table .today,
.main-day {
  background: rgb(239, 239, 106);
  padding: 8px;
  color: #711a75;
  font-weight: bold;
  font-size: 22px;
  font-family: "Pacifico", cursive;
}
.Table .main-day {
  font-size: 26px;
  text-shadow: 3px 3px 5px #00000080;
  line-height: 50px;
}

.Table .emoji-line {
  line-height: 90px;
}

ul li:first-child {
  margin-bottom: 3px;
}

@media (max-width: 820px) {
  .Table .unit {
    display: none;
  }
}

@media (max-width: 700px) {
  .Table .today {
    font-size: 18px;
  }
  .Table .main-day {
    font-size: 22px;
    line-height: 30px;
  }
  .Table .emoji-line {
    line-height: 60px;
    padding: 0;
  }
  .Table .unit {
    display: none;
  }

  ul li:first-child {
    margin-bottom: 2px;
  }
}
