.Weather {
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 30px;
}

.Weather .weather-main {
  position: relative;
  bottom: 40px;
}
.Weather .inside-form {
  border: 2px solid #7a5779;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 8px 23px;
  font-size: 20px;
}

.Weather .search {
  background: #f582a7;
}

@media (max-width: 700px) {
  .Weather .weather-main {
    position: relative;
    bottom: 20px;
  }

  .Weather .inside-form {
    padding: 5px 10px;
    font-size: 16px;
    max-width: 200px;
  }
}
